<!-- <p>Find me in app/views/sessions/new.html.erb</p> -->
<div class="container-fixed">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Log In</h1>
    <%= form_for :login do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit 'Log In' %>
      </div>
    <% end %>


<p>New Member? <%= link_to "Sign up now!", new_user_path %></p>
   </div>
  </div>
</div> <!-- Container -->


