<%= form_for :comment, url: job_comments_path do |f| %>
	<input type="hidden" name="job_id" value="<%= @job_id %>" />

	<p><%= f.label :body %> <%= f.text_field :body %> </p>
	<%= f.submit %>

<% end %>