<!-- <p>Jobs#index This is the job home page showing all the jobs</p> 
<p>Find me in app/views/jobs/index.html.erb</p> -->
<div class="page-header">
  <h1>Job Board<small> Members only</small></h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

    </div>
   
<!-- This is the index -->
<%  @jobs.each do |job| %>
	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong><h2><%= job.title %></h2></strong></div>
  <div class="panel-body">
    <p><%= job.description %></p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Company: <strong><%= job.company %></strong></li>
    <li class="list-group-item">Location: <strong><%= job.location %></strong></li>
    <li class="list-group-item">Post Date <strong><%= job.created_at %></strong></li>
    <li class="list-group-item">View Job: <strong><%= link_to "Job Link" , job.url %></strong></li>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to 'More', job_path(job) %></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_job_path(job) %></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><%= link_to 'Delete', job, method: :delete, data: { confirm: "Are you sure you want to delete this Job?"} %></button>
  </div>
</div>
  </ul>
</div>
<% end %>
<!-- End of index -->

<!-- </ul> -->
<p><%= link_to 'Back to Top', jobs_path %></p>

<p><%= paginate @jobs %></p>
    






