<!-- <h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p> -->

<h1>
	<%= @job.title %>
</h1>

<p>
<strong>Company:</strong>
<%= @job.company %>
</p>

<p>
<strong>Location:</strong>
<%= @job.location %>
</p>

<p>
<strong>Url:</strong>
<%= link_to @job.url %>
</p>

<p>
<strong>Description:</strong>
<%= @job.description %>
</p>
<p><%= link_to 'Edit', edit_job_path(@job) %></p>



  <h4>Comments</h4>

	<% @job.comments.each do |comment| %>
		<p> 
			<%= comment.body %>
		</p>	

	<% end %>
<p><%= link_to 'Add A Comment', new_job_comment_path(@job) %></p>
<p><%= link_to 'Edit Comment', edit_job_comment_path(:id,:job_id) %></p>
<br>


<p><%= link_to 'Back', jobs_path %></p>




