<!DOCTYPE html>
<html>
<head>
  <title>GAJB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/navbar' %>

<!-- 	<ul>  # Original Navbar  
		<li><%#= link_to "Jobs", jobs_path  %></li>
		<li><%#= link_to "Users", users_path  %></li>
		<li><%#= link_to "My Profile", users_path  %></li>
		<%# if current_user %>
		<li><%#= link_to "Add a new Job", new_job_path %></li>
		<%# end %>							            
    </ul> --> 

<% if current_user %>
	You are logged in as <%= current_user.email %>
	<%= link_to 'Log Out', logout_path, method: :delete %>

	<% else %>
	<%= link_to 'log in', login_path %>
	<%= link_to 'sign up', users_new_path %>
<% end %>


<%= yield %>
<%# console %>
<%= params %>

</body>
</html>
